@import "./_default.css";
$메인칼라: red;
.red {
  color: $메인칼라;
}
@mixin 함수() {
  background: #eeeeee;
  padding: 15px;
  border-radius: 5px;
  // max-width: 500px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.my-alert {
  @include 함수();
  background-color: yellowgreen;
}
.tab-style-enter {
  opacity: 0;
}
.tab-style-enter-active {
  opacity: 1;
  transition: all 1000ms;
}
